.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: rgb(247, 243, 243);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 80px;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #058b0c;
  font-weight: 500;
}

.nav a:hover {
  color: #c89b3c;
}

.login-btn {
  background: #c89b3c;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  text-decoration: none;
}
span {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  color: #058b0c;
}


